:root {
    --bg-blue: #f4f9fc;
    --title: #0f1b61;
    --text: #232636;
    --light-blue: #aadcec;
    --light-text: #585f64;
    --accent: #73bbc5;
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Inter', system-ui, sans-serif;
    background-color: var(--bg-blue);
    color: var(--text);
  }
  
  h1, h2, h3 {
      font-family: 'Bitter', system-ui, sans-serif;
  }
  h1 {
    color: var(--title);
  }
  h2 {
    font-size: 3rem;
    color: var(--title);
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

.nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
}
@media (min-width: 1250px) {
    .nav-container {
        padding: 0;
    }
}
.nav-container a {
    text-decoration: none;
}
.nav-container p {
    color: var(--title);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}
nav a  {
    scroll-margin-top: 80px;
}
.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text);
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-4px, 3px);
}
.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-10px, -8px);
    transform: rotate(45deg) translate(-10px, -8px);
}
.hamburger.is-active .bar {
    opacity: 0;
}
.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--bg-blue);
    padding-top: 120px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.mobile-nav.is-active {
    left: 0;
}
.mobile-nav form {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
}
.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1f103f;
    color: #fff;
    text-decoration: none;
}
.mobile-nav a:hover {
    background-color: #24104f;
}
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    color: #fff;
    background-color: var(--title);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
header .nav-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
header .nav-container nav {
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (auto) [4];
    grid-template-columns: repeat(4, auto);
}
header.is-scrolling {
    background-color: var(--bg-blue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
header.is-scrolling .nav-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav-container nav a {
    color: var(--title);
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: block;
    padding-bottom: 5px;
}
header .nav-container nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--accent);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}
header .nav-container nav a:hover::after, .nav-container nav a:focus::after {
    transform: translate3d(0, 0, 0);
}

#language-select, #language-select-mobile {
    background-color: var(--bg-blue);
    color: var(--title);
    border-radius: 4rem;
    border-color: var(--light-text);
    padding: 2px 10px;
    font-size: 0.8rem;
}

#hero {
    scroll-margin-top: 120px;
}
#about, #projects, #contact {
    scroll-margin-top: 2rem;
    margin-bottom: 4rem;
}

/* Hero section */
.hero {
    min-height: 100vh;
    background-color: var(--bg-blue);
}
.hero--container {
    padding: 3rem 2rem;
    line-height: 1;
    position: relative;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1200px;
}
.hero--container::after {
    content: "";
    transform-origin: bottom center;
    position: absolute;
    width: 1px;
    height: 35vh;
    left: 50%;
    top: 100%;
    background: var(--light-text);
    opacity: .45;
}
.hero--content-hidden {
    visibility: hidden;
}
.hero--content img {
    max-width: 300px;
    margin: 0 auto;
}
.hero--text h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}
.hero--text h1 span {
    font-weight: 700;
}
.dot {
    color: var(--accent);
}
.scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    font-size: 0.8rem;
    color: var(--light-text);
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, -5px);
    }
}

/* About section */
.about--container {
    padding: 1rem 2rem;
}
.about--container h2, .projects--container h2, .contact--container h2 {
    position: relative;
    margin-bottom: 3rem;
}
.about--container h2::before, .projects--container h2::before,
.contact--container h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 3px;
    width: 80px;
    background: var(--accent);

}
.about--image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.testimage {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}
.testimage::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    width: 100%;
    height: 100%;
    border: 2px solid var(--accent);
    border-radius: 1rem;
    z-index: -1;
}
  
.about--image-container img {
    max-width: 300px;
    display: block;
    border-radius: 1rem;
}
.about--technologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    position: relative;
    padding: 0;
}
.about--technologies li::before {
    content: '▹';
    padding-left: 1rem;
    color: var(--accent);
}

/* Projects section */
.projects--container {
    padding: 1rem 2rem;
}
.projects--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.projects--project {
    width: 320px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
.projects--project-image a {
    color: inherit;
    text-decoration: none;
}
.projects--project-image {
    height: 220px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
.projects--project-image img {
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.projects--project-text {
    position: relative;
    height: 185px;
    padding: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
.projects--project-text h3 {
    margin: 0;
    color: var(--text);
    font-weight: 700;
    text-transform: uppercase;
}
.projects--project-text ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;

}
.projects--project-text ul li {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--accent);
    /* color: var(--accent); */
    color: white;
    background-color: var(--accent);
    border-radius: 0.5rem;
}
.projects--project-text p {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 65px;
    margin: 0;
    padding: 0;
    color: var(--light-text);
    line-height:27px;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.projects--project-text-links {
    width: 100%;
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.projects--project-text-links a img {
    width: 1.5rem;
}
.projects--project-text-links a svg {
    fill: var(--text);
}

/* Contact */
.contact--container {
    padding: 1rem 2rem;
}
.contact--text-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.contact--text-links a svg  {
    fill: var(--text);
}
.contact--text-links a:hover svg {
    fill: var(--accent);
}

.about--container, .projects--container, .contact--container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer */
footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}


/* Media queries */
@media (max-width: 767px) {
    .nav-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    header .nav-container nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }
}

@media (max-width: 1024px) {
    .nav-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .projects--project-text p, .projects--project-text-links {
        opacity: 1;
    }
    .projects--project-text {
        height: 305px;
    }
    .projects--project-text p , .projects--project-text-links {
        position: relative;
    }
    .projects--project-text p {
        left: 0;
        right: 0;
        bottom: 3.5rem;
        padding: 20px 0;
    }
    .projects--project-text-links {
        bottom: 3.5rem;
    }
    .desktop-break {
        display: none;
    }
}
@media (min-width: 1024px) {
    .hero--container {
        padding-top: 0;
        margin-top: 0;
    }
    .hero--content {
        display: flex;
        flex-direction: row-reverse;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }
    .hero--content-hidden {
        visibility: visible;
        color: var(--light-text);
        font-weight: 500;
        font-size: 1.2rem;
    }
    .hero--content img {
        max-width: 400px;
        margin: 0;
    }
    .hero--text {
        width: 50%;
    }
    .hero--text h1 {
        font-size: 3.5rem;
        text-align: left;
        margin: 0;
    }
    .scroll {
        bottom: 35%;
    }
    .hero--container::after {
        width: 2px;
        top: 66%;
    }

    .projects--project:hover .projects--project-image {
        height: 130px;
    }
    .projects--project:hover .projects--project-image img {
        opacity: 0.6;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .projects--project:hover .projects--project-text {
        height: 300px;
    }
    .projects--project:hover .projects--project-text p {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .projects--project:hover .projects--project-text-links {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    .projects--project:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    }

    .about--wrapper {
        display: flex;
        justify-content: space-between;
    }
    .about--content {
        max-width: 50%;
    }
    .about--image-container {
        width: 90%;
    }

    .contact--text-container {
        max-width: 50%;
    }
    .contact--text-links {
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    .projects--project {
        width: 350px;
    }
}